<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title> <%= title %> </title>
</head>
<body>
    
    <div class="container">
        <h1><%= title %></h1>

        <form action="/add" method="post">
            <legend>Add a Task</legend>
            <div class="form-group">
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" id="description" cols="50" rows="1" placeholder="Add a description"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
        
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < tasks.length  ; i++){ %>
                    <tr>
                        <td> <%= i +1 %> </td>
                        <td> <b> <%= tasks[i].title %> </b> </td>
                        <td> <%= tasks[i].description %>  </td>
                        <td> 
                            <a 
                            class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark' %>"
                            href="/turn/<%= tasks[i]._id %>">Done</a>
                            <a 
                            id="delete"
                            class="btn btn-danger"
                            href="/delete/<%= tasks[i]._id  %>">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </div>
    <script>
        document.getElementById('title').focus();
        document.getElementById('delete')
        .addEventListener('click',(e)=>{
            if(!confirm('Are you sure to delete?')){
                e.preventDefault();
            }
        });
    </script>
</body>
</html>